sudo: required
language: python
python:
  - 3.5
services:
  - docker
before_install:
  - docker --version
  - docker-compose -v
env:
  global:
  - OSGEO_USERNAME=agenciadeimplementacion
  - QGIS_TEST_VERSION=latest
  - secure: ''
install:
  - docker build --build-arg QGIS_TEST_VERSION=${QGIS_TEST_VERSION} .
script:
  - docker-compose run qgis
  - echo pip install -r requirements.txt
  - echo 'si se necesita hacer deploy'
before_deploy:
  - sudo apt-get -qq update
  - sudo apt-get install -y pyqt5-dev-tools qtchooser
  - pushd asistente_ladm_col; make clean; make all; popd
  - zip -r asistente_ladm_col.zip asistente_ladm_col
    -x asistente_ladm_col/tests/\*
    asistente_ladm_col/resources/\*
    \*.pyc \*/__pycache__/\* 
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    # link: https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/
    # link: https://github.com/travis-ci/travis.rb#installation
    # travis setup releases --force
    secure: eDXuR1hOL2puWUXrKfEfJ9ToYAFJMXhazJm/ai7B853LvXj13H7oCx0ns7y1sNbjpCadjliAaj1NXEfeS+tcv8tmEmtS3EjwwabDgirBdT13NbIPtdKZgBmFuXtK4SafIRJOdtPpQMlb+OuS0n9lQWNXRM52rbidEOr4/FY7UQWr/u380d5I4chtxwOsvowiAp74NszDhheA9azlJZ8M1LnmurAxIMSnA0nWrz1QMkgffDF6yk+hYsvLzalQ/omBaOhw4wUo2oo+gJSYERS1usK7pkCu9136X+O8ULT5A619EH36yJCdkOFJPMZiKCmfLwqUA0ubhPkEtYMVBp7haJh7Gw9/XAd9SZkDAGc94P483Va4RRF5OnnAQhIktmg4Rdevjg1hKTcwHBNaQuAHkF8q2SnpKdd7QxACRUovEm4AW3b7ZBnqr3VS7sU5x+MbI5jPgQbHAqQIVbx8/rxXQwphp5WD0mNGDMogw1zW94MMyBVyhY5N3xK60o4DKJ+c96ITnnNoLp62SRP1vQc6aKzeKC1DXlnLIvPGmOWaZ8supM30XLuyPq51m56MTdgBAis6xAzgm7dYb6Adv5mlfuq6M3/4Tq+Vrckb6YdHJUoVfDUYrTe/ohlQ8QulFO9YCLADwcQuZHyYaXU9F2rXa6PUjpW0WVsT6JjVvS0O/eo=
  file: asistente_ladm_col.zip
  on:
    repo: AgenciaImplementacion/Asistente-LADM_COL
    tags: true
